<div id="social-icons">
    <!-- Twitter button -->
    <div id="twitter-button">
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{page.title | url_encode}}&url={{ page.url | absolute_url | url_encode }}&hashtags={{ page.tags | array_to_sentence_string : '' | replace : ' ','' }}&via={{ site.twitter_username }}">Tweet</a>

    </div>
    <!--End of twitter button code--> 

    <!--Linkedin share button-->
    <script type="IN/Share" data-url="{{ page.url | absolute_url }}"></script>
    <!--End of Linkedin share button-->

    <!--Facebook share button-->
    <div id="fb-root" style="display:inline-block"></div>
    <div style="display:inline-block" class="fb-share-button" data-href="{{ page.url | absolute_url }}" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url | url_encode }}&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
    <!--End of facebook share button-->

    <!--Facebook page like button-->
    <div style="top:8px" class="fb-like" data-href="https://www.facebook.com/rammeenavalli" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="false"></div>
    <!--End of facebook page like button-->
</div>