<header class="author-bio">
    <div class="blog-info">
        <a class="blog-logo" href="{{site.profile-url}}" tabindex="-1" target="_blank">
            <img src="{{site.profile-photo}}" alt="{{site.profile-name}}">
            {{site.profile-name}}
        </a>
        <div class="blog-author">
            {{site.profile-tagline}}
        </div>
        <ul class="social-network">
            <li style="display: inline-block;"><a href="{{site.profile-fb}}" rel="external nofollow"><i class="fa fa-facebook"></i></a></li>
            <li style="display: inline-block;"><a href="{{site.profile-twitter}}" rel="external nofollow"><i class="fa fa-twitter"></i></a></li>
            <li style="display: inline-block;"><a href="{{site.profile-linkedin}}" rel="external nofollow"><i class="fa fa-linkedin"></i></a></li>
            <li style="display: inline-block;"><a href="{{site.profile-youtube}}" rel="external nofollow"><i class="fa fa-youtube"></i></a></li>
            <li style="display: inline-block;"><a href="site.profile-github" rel="external nofollow"><i class="fa fa-git"></i></a></li>
        </ul>
    </div>
</header>